@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #FAF9F6;
    color: #2D3748;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #F3EAD8;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #C8B99D;
  border-radius: 3px;
}
